[project]
	description = Lightweight security hardening tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kiril Nesenko (knesenko)
[access "refs/for/refs/*"]
	read = group user/Kiril Nesenko (knesenko)
	push = group user/Kiril Nesenko (knesenko)
	label-Code-Review = -2..+2 group user/Kiril Nesenko (knesenko)
	label-Verified = -1..+1 group user/Kiril Nesenko (knesenko)
	rebase = group user/Kiril Nesenko (knesenko)
	removeReviewer = group user/Kiril Nesenko (knesenko)
	submit = group user/Kiril Nesenko (knesenko)
[access "refs/heads/*"]
	read = group user/Kiril Nesenko (knesenko)
	create = group user/Kiril Nesenko (knesenko)
	push = +force group user/Kiril Nesenko (knesenko)
	pushMerge = group user/Kiril Nesenko (knesenko)
[access "refs/tags/*"]
	push = group user/Kiril Nesenko (knesenko)
	push = +force group user/Kiril Nesenko (knesenko)
[submit]
	action = fast forward only
	mergeContent = false
[receive]
	requireChangeId = true
	requireSignedOffBy = true
